.Home {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}